html,body{
    overflow-x: hidden;/*x is left and right--y is top and bottom*/
}





form {
  width: 35%; /*percentage and height auto is resonsive*/
  height: auto;
  border: 2px solid green;
  padding: 20px;
  margin: auto;
  background: linear-gradient(rgb(206, 156, 65), rgb(220, 220, 29));
  border-radius: 30px;
  margin-top: 50px;
}
/*give space bet lable and input box*/

#submit {
  padding: 10px 30px;
  border-radius: 30px;
  display: block;
  margin: 20px auto;
}

/*.inputBox is bigbox that hold all small input boes*/
.inputBox {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*input with no . is for small input boxes*/
input {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 5px;
}
/*.lableBox is big box*/
.lableBox {
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/*.lableBox lable target small lable boxes*/
.lableBox label {
  display: block;
  margin-top: 10px;
  padding: 5px 5px;
}

.register {
  text-align: center;
}
.mainBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*media querie*/
@media screen and (max-width: 1300px) {
  form {
    width: 50%; /*percentage and height auto is resonsive*/
  }
}
@media screen and (max-width: 900px) {
  form {
    width: 70%;
  }
}
/*ipad*/
@media screen and (max-width: 650px) {
  form {
    width: 90%;
  }
}
/*phone*/
@media screen and (max-width: 500px) {
  .inputBox {
    width: 50%;
  }

  /*.lableBox is big box*/
  .lableBox {
    width: 25%;
  }
}
