@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



.container{
    margin: 20px;
   
  
}
.navBar{
text-align: center;
width: 100%;
height: auto;
border-bottom:2px solid darkgray;
padding: 30px 0px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.navBar a{
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.bigHero{
    width: 100%;
    height: auto;/*hight auto make page responsive instead of put value*/
    background:linear-gradient(orange,yellow);
    padding: 30px 0px;
   

display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
  
}
.bigHero img{
    width: 200px;
    margin-top: -30px;
  

}

.bigHero h1{
font-size: 30px;

}
.bigHero p{
    padding: 0px 100px;
}

/*section1*/
.section1{
    width: 60%;
  margin: 30px auto;/*top right bottom and then left*/
  text-align: center;
  padding: 20px 0px;
  
}
.section1 h2{
    font-size: 30px;
}

.section1 button{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
}
.socialMedia{
    margin-left:40px;
    margin-top: 50px;
}

/*social icone*/
.fa-brands{
    padding: 15px;
    color: black;
    font-size: 25px;
}

.belowSocialmedia{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left:40px;

}
.upperCase{
    text-transform: uppercase;
    color: green;
 font-weight: bold;
 font-style: italic;
}

/* below--we remove underline of a tag--only for a tag*/
.belowSocialmedia a{
text-decoration: none;
color: black;
font-size: 20px;
padding: 10px;
}

/* bootstrap section*/
.card{

  height: 500px;
  overflow: scroll;
    background-color: #E4F6F8;
}

.card-title{
    text-align: center;
    margin: 20px 0px;
}

.card-text{
   padding: 0px 20px 30px 20px; /* top right bottom left*/
   
}

/*media queries*/
@media screen and (max-width:500px) {
    .bigHero p{
        padding: 0px 30px;
        text-align: justify;
    }
    .section1 {
        width: 80%;
        text-align: center;
       
    }
    .section1 p{
        text-align: justify;
       
    }



}



